#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.header {
 padding: 20px; 
}

.card {
  padding: 2em;
 
}

.read-the-docs {
  color: #888;
}

.error-text {
   color: rgb(245, 140, 219);
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
}

.error-messages {
  margin-top: 20px;
  text-align: left;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

button {
  margin-top: 10px;
}

/* Background */
body {
  background-color: #366774; 
}

/* Navbar */
.navbar {
  background-color: #2C3E50; 
  display: flex;
  justify-content: space-between; 
  padding: 0.5em 1em; 
}

.nav-link {
  color: #FFFFFF;
  padding: 0.5em 1em; 
  transition: color 0.3s ease; 
}

.nav-link:hover {
  color: #1ABC9C; 
}


/* Portfolio Cards */
.card {
  background-color: #dbdada;
  border: 1px solid #BDC3C7; 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-title {
  color: #2C3E50; 
}

.card-text {
  color: #34495E; 
}

/* Hover effect */
.card:hover {
  transform: translateY(-10px); 
}
